<section id= "footer">
    <div class = "footer-container">
      <h1 class = "footer-title"> <img src="../images/vidvat.png" class="img-responsive logo"><h1>
      <p class = "footer-link"><a  href = "#"><i class="fab fa-instagram footer-icon"></i> </a>
      <a  href = "#"><i class="fab fa-facebook-f footer-icon"></i> </a>
      <a  href = "#"><i class="fab fa-twitter footer-icon"></i> </a>
    </p>
    <div class = "row">
    <div class = "footer-left col">
      <h2> Contact-Us</h2>
      <p> SJCE Hostel, Campus Roads, Opposite Mysore University,<br/>
        Mysuru, Karnataka 530006
        <br/>

      <i class="fas fa-envelope-square" style = "padding-top: 10px; font-size: 1.5em; color: #d9d9d9;"></i>&nbsp;&nbsp; mail_add@ngo.in
      </p>
    </div>

    <div class = "footer-right col">
      <h2> Quick Links</h2>
      <a href = "#" class = "footer-right-link"> FAQs </a><br/>
      <a href = "#" class = "footer-right-link"> Register </a><br/>
      <a href = "#" class = "footer-right-link"> Privacy policy</a>
    </div>
    </div>



    </div>
  </section>


  </body>





</html>