<%- include("./partials/header") %>
<!-- 
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> NGO Page </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "stylesheet"  href = "/stylesheets/style.css" >
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Parisienne&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap" rel="stylesheet">
    
</head>


  <body>
    <section id = "title">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">NGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><b>Home</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>Register</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><b>logout</b></a>
            </li>
          </ul>
        </div>
      </nav> 
      <div class = "frontline-container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval = 2500>
          <div class = "title-para">Educating The Underpriviledged.</div>
          <div class="carousel-inner">
            <a href="/schooldetails"><button type="button" class="btn btn-lg force">View Schools</button></a>
            <div class="carousel-item active">
              <img src="https://media.gettyimages.com/photos/students-attend-a-class-at-shaheed-balwant-singh-government-model-picture-id887431364?s=2048x2048" class="frontline-image">
            </div>
            <div class="carousel-item">
              <img src="https://media.gettyimages.com/photos/students-of-govt-primary-school-village-pochanpur-paying-tribute-to-picture-id460590790?s=2048x2048" class="frontline-image">
            </div>
            <div class="carousel-item">
              <img src="https://media.gettyimages.com/photos/students-of-govt-primary-school-village-pochanpur-paying-tribute-to-picture-id460590782?s=2048x2048" class="frontline-image">
            </div>
          </div>
        </div>
      </div> -->
<div class = "frontline-container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval = 2500>
          <div class = "title-para">Educating The Underpriviledged.</div>
          <div class="carousel-inner">
            <a href="/schooldetails"><button type="button" class="btn btn-lg force">View Schools</button></a>
            <div class="carousel-item active">
              <img src="../images/unicef-pic5edited.jpg" class="frontline-image">
            </div>
            <div class="carousel-item">
              <img src="../images/unicef-pic7edited.jpg" class="frontline-image">
            </div>
            <div class="carousel-item">
              <img src="../images/unicef-pic3edited.png" class="frontline-image">
            </div>
          </div>
        </div>

    <section id = "about-us">
   <div class = "container">
    <div class = "row">
      <div class = "about-us-text col-md">
        <h1 class = "about-heading"> About Us </h1>
        <hr class = "about-us-seperator">
        <p class = "about-para">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          Lorem Ipsum is simply ets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <hr class = "about-us-seperator">
      </div>
    </div>
   </div>
  </section>

  <section id ="team">
      <h1 class = "team-heading"> The people who made this possible. </h1>
      <div class = "row">
        <div class = "col-lg-4 col-md-6 team-image-col">
          <img class = "team-image" src = "https://media-exp1.licdn.com/dms/image/C5603AQHKccI6Tn33ew/profile-displayphoto-shrink_400_400/0?e=1606348800&v=beta&t=qQCC2Z68bNoO-UWtKa9jLzbJ1UtI-dzScd8TgsT42jY" alt = "a pic">
          <p class = "team-data"> Abhijeet Bharti<br/>Full Stack Developer</br>
          <a href = "https://www.linkedin.com/in/abhijeetbharti8582/"> <i class="fab fa-linkedin-in team-icon"></i> </a>

        </div>
        <div class = "col-lg-4 col-md-6 team-image-col">
          <img class = "team-image" src = "https://media-exp1.licdn.com/dms/image/C5603AQH-P5614VmbAQ/profile-displayphoto-shrink_400_400/0?e=1609372800&v=beta&t=5cQ_RAwslxFgDkHBE2i7Fvs-YvkAi12qh4BceiSumuk" alt = "a pic">
          <p class = "team-data"> Ritu Raj <br/>Full Stack Developer</br>
          <a href = "https://www.linkedin.com/in/ritu-raj-8992bb55/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
          </p>
        </div>
        <div class = "col-lg-4 col-md-6  team-image-col">
          <img class = "team-image" src = "https://media-exp1.licdn.com/dms/image/C5103AQGu6a3whgktJA/profile-displayphoto-shrink_400_400/0?e=1609372800&v=beta&t=3wmH9Elz3Teoo5yjtKk1f4pazjlE8sSwvCzlyLiAMJs" alt = "a pic">
          <p class = "team-data"> Primakov Ch <br/>Full Stack Developer</br>
          <a href = "https://www.linkedin.com/in/primakov-ch-47a5a8175/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
          </p>
        </div>
      </div>



  </section>

  
<%- include("./partials/footer") %>


